<?php $bug = $this->bug; ?>
<section id="main">
	<section id="top">
		<section id="basic_info">
			<ul id="id-list">
				<li class="id"><?php echo $bug->id ?></li>
			</ul>
			<ul id="dates-list">
				<li class="dates">Created: <?php echo $bug->created ?></li>
				<li class="dates">Modified: <?php echo $bug->modified ?></li>
			</ul>
		</section>
		<section id="edit_button">
			<form>
				<input type="button" value="Edit" onclick='window.location = "/bugs/edit/<?php echo $bug->id ?>"'>
			</form>
		</section>
	</section>
	<section id="bug_info">
		<div id="status_box">
			<div class="status_bubble"><?php echo $bug->status ?></div>
		<div>
		<div id="info_box">
			<h3>Title</h3>
			<p><?php echo $bug->title ?></p>
			<h3>Description</h3>
			<p><?php echo $bug->description ?></p>
		</div>
	</section>
	<section id="changes">
		<h3 class="centered">HISTORY</h3>
		<table>
			<thead>
				<th>Date</th>
				<th>Changed From</th>
				<th>Changed To</th>
			</thead>
			<?php foreach($bug->changes as $change): ?>
				<tr>
					<td><?php echo $change['change_date'] ?></td>
					<td><?php echo $change['from_status'] ?></td>
					<td><?php echo $change['to_status'] ?></td>
				</tr>
			<?php endforeach ?>
		</table>
	</section>
</section>