html, body, * {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

body {
	background-color: silver;
}

a {
	text-decoration: none;
	color: black;
}

a.hover {
	color: red;
}

header {
	padding: 10px;
	margin: 0;
	background-color: black;
}

header ul {
	margin: 0;
	padding: 0;
}
header ul li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
}

header ul li a {
	color: white;
	text-decoration: none;
}

a.float-right {
	float: right;
}

h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

#sorter table tr {
	width: 100%;
	background-color: gray;
	height: 20px;
	padding: 5px;
}

#sorter table tr td {
	font-weight: bold;
	padding: 5px;
	font-size: 14px;
	border: 1px solid black;
}

table {
	width: 100%;
}

td.date {
	width: 15%;
	text-align: center;
}

td.id {
	width: 5%;
}


td.status {
	text-align: center;
	width: 10%;
}

td.title {
	width: *;
}

#list table tr td {
	border: 1px solid gray;
	background-color: whitesmoke;
	padding: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#top {
	height: 25px;
	background-color: black;
	color: white;
	padding: 10px;
}

#bug_info, #bug_edit_form {
	clear: both;
	margin-top: 0px;
	padding: 10px;
}

#basic_info ul {
	margin: 0;
	padding: 0;
	float: left;
}
#basic_info ul li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
	margin-right: 10px;
	margin-bottom: 10px;
}

#main {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	border: 10px solid gray;
	border-radius: 2px;
	margin-top: 100px;
	background-color: whitesmoke;
}

#changes {
	clear: both;
	border-top: 1px solid gray;
}

#changes table thead th {
	background-color: black;
	color: white;
	text-align: left;
	padding: 5px;
}

#edit_button {
	float: right;
}

input.text-input {
	width: 99%;
	padding: 2px;
}

textarea {
	width: 99%;
	min-height: 100px;
	padding: 2px;
}

.centered {
	text-align: center;
}

#top .centered {
	padding-top: 5px;
}

.left {
	float: left;
}

li.id {
	font-size: 24px;
}

.dates {
	font-size: 12px;
}

.buttons {
	clear: both;
	margin-top: 20px;
}

select {
	margin-top: 10px;
	margin-left: 5px;
}

td.hover, td.sortby {
	background-color: black;
	color: white;
}

p {
	font-size: 16px;
}

#info_box {
	float: left;
	margin-bottom: 25px;
}

#status_box {
	float: right;
}

p.status_bubble{
	background-color: gray;
	color: whitesmoke;
	width: 150px;
	text-align: center;
	padding: 4px;
	border: 1px solid black;
	border-radius: 2px;
}