<!DOCTYPE html>
<html>
	<head>
		<LINK href="/assets/css/cockroach.css" rel="stylesheet" type="text/css">
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	</head>
	<body>
		<header>
			<ul>
				<li><a href="/">COCKROACH</a></li>
				<li><a href="/bugs/create" class="float-right">Create Bug</a></li>
			</ul>
		</header>
		<section class="content">
			<?php echo $this->renderTemplate() ?>
		</section>
	</body>

</html>