<!DOCTYPE html>
<html>
	<head>
		<LINK href="/assets/css/cockroach.css" rel="stylesheet" type="text/css">
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	</head>
	<body>
		<header>
			<ul class="left">
				<li><a href="/">COCKROACH</a></li>
			</ul>
			<ul class="float-right">
				<li><a href="/bugs">Bug List</a> | <a href="/bugs/create">Create Bug</a></li>
			</ul>
		</header>
		<section id="sorter">
			<table>
				<tbod>
					<tr>
						<td id="id_sorter" class="id">Id</td>
						<td id="title_sorter"class="title">Title</td>
						<td id="created_sorter"class="date">Created</td>
						<td id="modified_sorter"class="date">Modified</td>
						<td id="status_sorter"class="status">Status</td>
					</tr>	
				</tbody>
			</table>
		</section>
		<section class="content">
			<?php echo $this->renderTemplate() ?>
		</section>
	</body>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#sorter table tr td').each(function(column) {
				$(this).hover(
					function(){
						$(this).addClass('hover');
					},
					function(){
						$(this).removeClass('hover');
					}
				);
				$(this).click(function(){
					var current = $('.sortby');
					current.removeClass('sortby');
					$(this).addClass('sortby');
					var rec = $('#list table').find('tbody > tr').get();
					rec.sort(function(a, b) {
						var val1 = $(a).children('td').eq(column).text().toUpperCase();
						var val2 = $(b).children('td').eq(column).text().toUpperCase();
						return (val1 < val2) ? -1 : (val1 > val2) ? 1 : 0;
					});
				$.each(rec, function(index, row) {
					$('#list table').append(row);
					});
				});
			});
		});
	</script>
</html>